<div id= "map"></div>


<div>
  <p>
    There are so many hidden gems in Detroit that sometimes you miss them, Shop <span class="fancyDetroit">Detroit</span> will provide a store suggestion based on your
    location.
    <br>Shop <span class="fancyDetroit">Detroit</span> also allows you to search for stores in the area that you may usually miss and filter them specifically by what your shopping for.
    <br>Shop <span class="fancyDetroit">Detroit</span> gives you access to exclusive events and promotions at your favorite stores in the city.
  </p>
</div>


<div id="randomStore">

<h3>Shop</h3>
<p>{{randomStore.name}} </p>

<!-- <img ng-src="store.photos"/> -->
<!-- ng-repeat = "store in storeInfo" -->

</div>
